/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	margin:0px 30px;
}
.content{
	background-color:white;
	padding:15px;
	border:10px solid #f5f5f5;
	position:relative;
}
p:nth-child(2){
	text-align:right;
}

